In [3]:
import pandas as pd
import re

In [9]:
# Membaca data dan melewati baris yang rusak
df = pd.read_csv('data_chat_group.csv', encoding='latin1', on_bad_lines='skip')

In [11]:
df.head()

                                                                                                                    text
14/11/24 16.52 - Pesan dan panggilan dienkripsi...  termasuk WhatsApp   yang dapat membaca atau mendengarkannya. Ketu...
14/11/24 16.52 - Anda Membuat Grup Ini             NaN                                                               NaN
14/11/24 16.52 - Yusra Infor: âpokemonDataset... NaN                                                               NaN
14/11/24 16.57 - zheika Infor: https://www.kagg... NaN                                                               NaN
21/11/24 16.03 - zheika Infor: <Media tidak dis... NaN                                                               NaN

In [13]:
# Hapus baris yang kosong
df = df.dropna(subset=['text'])  # Ganti 'text_column' dengan nama kolom teks Anda

In [15]:
# Fungsi untuk membersihkan teks
def clean_text(text):
    # Hanya menyisakan huruf, angka, dan tanda baca
    return re.sub(r'[^a-zA-Z0-9.,!? ]+', '', text)

# Terapkan fungsi ke kolom teks
df['cleaned_text'] = df['text'].apply(clean_text)

# Tampilkan data yang sudah dibersihkan
df.head()

,,text,cleaned_text
14/11/24 16.52 - Pesan dan panggilan dienkripsi secara end-to-end. Tidak seorang pun di luar chat ini,termasuk WhatsApp,yang dapat membaca atau mendengarkannya. Ketu...,yang dapat membaca atau mendengarkannya. Ketu...
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score,accuracyscore
Menghitung metrik performa model seperti Accuracy,Precision,dan Recall.,dan Recall.
precision = precision_score(y_test,y_pred,average='weighted'),averageweighted
recall = recall_score(y_test,y_pred,average='weighted'),averageweighted

In [17]:
# Simpan ke file CSV baru
df.to_csv('cleaned_data_chat_group.csv', index=False)

print("Pembersihan selesai. Data disimpan di 'cleaned_data_group.csv'")

Pembersihan selesai. Data disimpan di 'cleaned_data_group.csv'